In [ ]:
import pymysql
import csv

import pandas as pd
import numpy as np
import re

In [ ]:
# 엑셀 불러오기
dfset = pd.read_excel('df_test.xlsx')
# sort 컬럼 추가
dfset['sort'] = ''
dfset

In [ ]:
# 리스트 선언
setlist = ['힘','흥분']
type(setlist)

In [ ]:
for w in range(0,len(setlist)):
    # loc[ , ]를 사용했기에 헷갈림 주의
    # 만약에 setlist 리스트에 들어있는 값과 word의 컬럼 인덱스값과 일치한다면, 해당되는 sort 컬럼에 D 입력
    dfset.loc[dfset['word'] == setlist[w],'sort'] = 'D'
dfset

In [ ]:
###########################################################################
###########################################################################

In [ ]:
# csv 파일 불러오기
df_word = pd.read_csv('mpva_army_test.csv')
df_word['sort'] = ''
df_word

In [ ]:
# 단순히 단어가 얼만큼 있는지 알아보기 위해 선언한 것
df_word['word'].value_counts().count()
# type(df_word['word'].value_counts())

In [ ]:
df_wordlist = []

# df_word['word']는 Pandas의 Series형으로 되어있어 list형으로 형변환시켜야한다.
# for문과 if문을 사용하여 리스트형으로 바꿀 때, 중복된 단어는 제거한다.
for value in df_word['word'].tolist():
    if value not in df_wordlist:
        df_wordlist.append(value)
        
# print(df_wordlist)
# len(df_wordlist)       
# type(df_wordlist)

In [ ]:
for w in range(0,len(df_wordlist)):
    df_word.loc[df_word['word'] == df_wordlist[w],'sort'] = 'D'
df_word

In [ ]:
###########################################################################
###########################################################################

In [ ]:
df_31 = pd.read_excel('mpva3.1.xlsx')
df_31['sort'] = ''
# df_31

In [ ]:
df_31['word'].value_counts().count()

In [ ]:
df_wordlist_31 = []

for value in df_31['word'].tolist():
    if value not in df_wordlist_31:
        df_wordlist_31.append(value)

In [ ]:
for w in range(0,len(df_wordlist_31)):
    df_31.loc[df_31['word'] == df_wordlist_31[w],'sort'] = 'D'
df_31

In [ ]:
###########################################################################
###########################################################################

In [ ]:
# csv 파일 불러오기
df_army = pd.read_excel('단어_의병_20211103.xlsx')
df_army['sort'] = ''
df_army

In [ ]:
for w in range(0,len(df_wordlist)):
    df_army.loc[df_army['DATA_CH'] == df_wordlist[w],'sort'] = 'D'
df_army

In [ ]:
df_army.to_excel('C:\python\단어_의병_20211103_JH.xlsx', index = None,encoding='utf-8-sig')

In [ ]:
###########################################################################
###########################################################################
# 주요 코딩

In [1]:
# 라이브러리
import pymysql
import csv

import pandas as pd
import numpy as np
import re

In [2]:
# 해당 엑셀 파일 Sheet2를 데이터프레임으로 불러오는 코드
df_Army_s2 = pd.read_excel('단어_의병_20211103_JH.xlsx', sheet_name='Sheet2')
df_Army_s2

                                                  DATA_CH  LEN  DEL SORT
0                                                       힘    1    D  NaN
1                                                       힘    1    D  NaN
2                                                       흰    1    D  NaN
3                                                       흰    1    D  NaN
4                                                       후    1    D  NaN
...                                                   ...  ...  ...  ...
402875  이승재(李承宰)·장한문(張翰文)·안재극(安在極)·김두활(金斗活)·이긍재(李兢宰)·유...  116  NaN  NaN
402876  고원중(高元仲)·원도숙\n(元道淑)·고명주(高明柱)·김준대(金俊大)·신치수(辛致守)...  137  NaN  NaN
402877  고원중(高元仲)·원도숙\n(元道淑)·고명주(高明柱)·김준대(金俊大)·신치수(辛致守)...  137  NaN  NaN
402878  고원중\n(高元仲)·원도숙(元道淑)·고명주(高明柱)·김준대(金俊大)·신치수(辛致守)...  138  NaN  NaN
402879  고원중(高元仲)·원도숙(元道淑)·고명주(高明柱)·김준대(金俊大)·\n신치수(辛致守)...  146  NaN  NaN

[402880 rows x 4 columns]

In [3]:
# 열값 'DEL'의 값이 D 인 경우만 출력 
is_D = df_Army_s2[df_Army_s2['DEL'] == 'D']
is_D

           DATA_CH  LEN DEL SORT
0                힘    1   D  NaN
1                힘    1   D  NaN
2                흰    1   D  NaN
3                흰    1   D  NaN
4                후    1   D  NaN
...            ...  ...  ..  ...
382976  활동(討賊活動)하다   10   D  NaN
382977  활동(入陣活動)하다   10   D  NaN
382978  활동(義兵召募活動)   10   D  NaN
382979  활동(募集活動)하던   10   D  NaN
382980  활동(募集活動)하다   10   D  NaN

[118051 rows x 4 columns]

In [4]:
is_place = df_Army_s2[df_Army_s2['SORT'] == '지명']
is_space = df_Army_s2[df_Army_s2['SORT'] == '장소']
is_name = df_Army_s2[df_Army_s2['SORT'] == '인명']
is_period = df_Army_s2[df_Army_s2['SORT'] == '시기']
is_job = df_Army_s2[df_Army_s2['SORT'] == '직위']
is_law = df_Army_s2[df_Army_s2['SORT'] == '법률']
is_penal = df_Army_s2[df_Army_s2['SORT'] == '수형']
is_group = df_Army_s2[df_Army_s2['SORT'] == '단체명']

In [5]:
# 해당 엑셀 파일 Sheet1을 데이터 프레임으로 불러오는 것
# 주요 핵심 Sheet
df_Army_s1 = pd.read_excel('단어_의병_20211103_JH.xlsx', sheet_name='Sheet1')
df_Army_s1

,MNG_NO,NAME_KO,WORKOUT_AFFIL,JUDGE_YEAR,HUNKUK,SEQ,DATA_CH,DEL,SORT
0,2,강기동,의병,1962,대통령장,929024,1,D,NaN
1,2,강기동,의병,1962,대통령장,929025,NaN,D,NaN
2,2,강기동,의병,1962,대통령장,929026,장단(長湍),NaN,지명
3,2,강기동,의병,1962,대통령장,929027,고랑포(高浪浦),NaN,지명
4,2,강기동,의병,1962,대통령장,929028,헌병보조원으로,NaN,직위
...,...,...,...,...,...,...,...,...,...
415335,964856,김현규,의병,2021,애족장,1004639,하다,NaN,NaN
415336,964856,김현규,의병,2021,애족장,1004640,체포되어,NaN,NaN
415337,964856,김현규,의병,2021,애족장,1004641,징역,NaN,NaN
415338,964856,김현규,의병,2021,애족장,1004642,7년을,NaN,NaN
415339,964856,김현규,의병,2021,애족장,1004643,받음.,NaN,NaN

In [6]:
# 비어있는 리스트
df_del = []
# for문을 통해 중복되는 단어들은 제거하면서, 제거할 단어들의 리스트를 만든다. 
for value in is_D['DATA_CH'].tolist():
    if value not in df_del:
        df_del.append(value)

In [7]:
df_sort = []
for value_1 in is_place['DATA_CH'].tolist():
    if value_1 not in df_sort:
        df_sort.append(value_1)

df_sort2 = []
for value_2 in is_space['DATA_CH'].tolist():
    if value_2 not in df_sort2:
        df_sort2.append(value_2)
        
df_sort3 = []
for value_3 in is_name['DATA_CH'].tolist():
    if value_3 not in df_sort3:
        df_sort3.append(value_3)
        
df_sort4 = []
for value_4 in is_period['DATA_CH'].tolist():
    if value_4 not in df_sort4:
        df_sort4.append(value_4)

df_sort5 = []
for value_5 in is_job['DATA_CH'].tolist():
    if value_5 not in df_sort5:
        df_sort5.append(value_5)
        
df_sort6 = []
for value_6 in is_law['DATA_CH'].tolist():
    if value_6 not in df_sort6:
        df_sort6.append(value_6)
        
df_sort7 = []
for value_7 in is_penal['DATA_CH'].tolist():
    if value_7 not in df_sort7:
        df_sort7.append(value_7)
        
df_sort8 = []
for value_8 in is_group['DATA_CH'].tolist():
    if value_8 not in df_sort8:
        df_sort8.append(value_8)

In [8]:
# 단어 제거할 리스트의 갯수만큼의 횟수를 반복한다.
for w in range(0,len(df_del)):
    # DATA_CH 의 값이 df_sort 리스트의 값과 같을 경우 D를 삽입한다.
    df_Army_s1.loc[df_Army_s1['DATA_CH'] == df_del[w],'DEL'] = 'D'
# df_Army_s1

In [11]:
# place
for a in range(0,len(df_sort)):
    df_Army_s1.loc[df_Army_s1['DATA_CH'] == df_sort[a],'SORT'] = '지명'
    df_Army_s1.loc[df_Army_s1['DATA_CH'] == df_sort[a],'DEL'] = 'S'
    
# space
for b in range(0,len(df_sort2)):
    df_Army_s1.loc[df_Army_s1['DATA_CH'] == df_sort2[b],'SORT'] = '장소'
    df_Army_s1.loc[df_Army_s1['DATA_CH'] == df_sort2[b],'DEL'] = 'S'

# name
for c in range(0,len(df_sort3)):
    df_Army_s1.loc[df_Army_s1['DATA_CH'] == df_sort3[c],'SORT'] = '인명'
    df_Army_s1.loc[df_Army_s1['DATA_CH'] == df_sort3[c],'DEL'] = 'S'
    
# period    
for d in range(0,len(df_sort4)):
    df_Army_s1.loc[df_Army_s1['DATA_CH'] == df_sort4[d],'SORT'] = '시기'   
    df_Army_s1.loc[df_Army_s1['DATA_CH'] == df_sort4[d],'DEL'] = 'S'
    
# job
for e in range(0,len(df_sort5)):
    df_Army_s1.loc[df_Army_s1['DATA_CH'] == df_sort5[e],'SORT'] = '직위'
    df_Army_s1.loc[df_Army_s1['DATA_CH'] == df_sort5[e],'DEL'] = 'S'
    
# law    
for f in range(0,len(df_sort6)):
    df_Army_s1.loc[df_Army_s1['DATA_CH'] == df_sort6[f],'SORT'] = '법률'
    df_Army_s1.loc[df_Army_s1['DATA_CH'] == df_sort6[f],'DEL'] = 'S'
    
# penal    
for g in range(0,len(df_sort7)):
    df_Army_s1.loc[df_Army_s1['DATA_CH'] == df_sort7[g],'SORT'] = '수형'
    df_Army_s1.loc[df_Army_s1['DATA_CH'] == df_sort7[g],'DEL'] = 'S'
    
# group
for h in range(0,len(df_sort8)):
    df_Army_s1.loc[df_Army_s1['DATA_CH'] == df_sort8[h],'SORT'] = '단체명'
    df_Army_s1.loc[df_Army_s1['DATA_CH'] == df_sort8[h],'DEL'] = 'S'

In [12]:
df_Army_s1

,MNG_NO,NAME_KO,WORKOUT_AFFIL,JUDGE_YEAR,HUNKUK,SEQ,DATA_CH,DEL,SORT
0,2,강기동,의병,1962,대통령장,929024,1,D,NaN
1,2,강기동,의병,1962,대통령장,929025,NaN,D,NaN
2,2,강기동,의병,1962,대통령장,929026,장단(長湍),NaN,지명
3,2,강기동,의병,1962,대통령장,929027,고랑포(高浪浦),NaN,지명
4,2,강기동,의병,1962,대통령장,929028,헌병보조원으로,NaN,직위
...,...,...,...,...,...,...,...,...,...
415335,964856,김현규,의병,2021,애족장,1004639,하다,D,NaN
415336,964856,김현규,의병,2021,애족장,1004640,체포되어,NaN,NaN
415337,964856,김현규,의병,2021,애족장,1004641,징역,S,법률
415338,964856,김현규,의병,2021,애족장,1004642,7년을,NaN,NaN
415339,964856,김현규,의병,2021,애족장,1004643,받음.,D,NaN

In [13]:
# python으로 엑셀을 만드는 코드
df_Army_s1.to_excel('C:\python\ArmyTest.xlsx', encoding='utf-8-sig' , index = False)